@import "compass";
//@import "compass/reset";
@import "components/components";

.mainContent {
  padding-bottom: 0;
}

#bottom-sidebar {
  position: relative;
  z-index: 10;
  background: #101010;
}

.itemsGrid .itemContainer .itemProduct .addToCart,
.itemsGrid .itemContainer .itemProduct .addToCart:hover,
.itemsGrid .itemContainer .itemProduct .addToCart:active,
.itemsGrid .itemContainer .itemProduct .addToCart:focus {
  color: white;
}

.itemsGrid .itemContainer .itemProduct .added_to_cart {
  display: none;
}

.product .addToCartButton button{
  background: transparent!important;
  font-size: 16px!important;
  padding: 14px 35px!important;
  -moz-border-radius: 30px!important;
  -webkit-border-radius: 30px!important;
  -o-border-radius: 30px!important;
  border-radius: 30px!important;
  font-family: nunito_sansbold!important;
  border: 2px solid #6ed9e7!important;
  -webkit-transition: .2s!important;
  -moz-transition: .2s!important;
  -o-transition: .2s!important;
  transition: .2s!important;
  display: inline-block!important;
  -webkit-box-shadow: 0 7px 20px 0 rgba(110,217,231,0)!important;
  -moz-box-shadow: 0 7px 20px 0 rgba(110,217,231,0)!important;
  box-shadow: 0 7px 20px 0 rgba(110,217,231,0)!important;
  color: #fff!important;
  white-space: nowrap!important;
}

.product .addToCartButton button:hover {
  background: #6ed9e7!important;
  -webkit-box-shadow: 0 7px 40px 0 rgba(110,217,231,.6)!important;
  -moz-box-shadow: 0 7px 40px 0 rgba(110,217,231,.6)!important;
  box-shadow: 0 7px 40px 0 rgba(110,217,231,.6)!important;
}

.product .addToCartButton .qty{
  display: none;
}

.widget_shopping_cart_content{
  display: inline-block;
}

.mainContent img {
  max-width: 100%;
  height: inherit;
  height: auto;
}

.menuLayer.active {
  z-index: 1000;
}

.confirm .button button {
  font-size: 16px;
  color: #fff;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  display: inline-block;
  padding: 14px 35px;
  border: none!important;
  background: #303030;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  font-family: nunito_sansbold;
}

.confirm .button button:hover {
  -webkit-box-shadow: 0 7px 40px 0 rgba(110,217,231,.6);
  -moz-box-shadow: 0 7px 40px 0 rgba(110,217,231,.6);
  box-shadow: 0 7px 40px 0 rgba(110,217,231,.6);
  background: #6ed9e7;
}

.inputContainer p{
  margin-bottom: 0px;
}

.inputContainer label{
  display: none;
}
